{% extends "main/base.html" %}
{% load static %}
{% block title %}
{#    Your shopping cart#}
{% endblock %}
{% block content %}
{#    <h1>Your shopping cart</h1>#}
    <table class="table">
          <thead>
            <tr>
              <th scope="col">Наименование</th>
              <th scope="col">Изображение</th>
              <th scope="col">Цена</th>
              <th scope="col">Кол-во</th>
              <th scope="col">Общая цена</th>
              <th scope="col">Действие</th>
            </tr>
          </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                  <th scope="row">{{ product.title }}</th>
{#                    <td>#}
{#                        <a href="{{ product.get_absolute_url }}">#}
{#                            <img src="#}
{#                                {% if product.image %}#}
{#                                    {{ product.image.url }}#}
{#                                {% else %}#}
{#                                    {% static "img/no_image.png" %}#}
{#                                {% endif %}">#}
{#                        </a>#}
{#                    </td>#}
                    <td class="w-25"><img src="{{ product.image.url }}"  class="img-fluid"></td>
                    <td>{{ product.price }} руб.</td>
                    <td>{{ item.quantity }}</td>
                    <td class="num">${{ item.total_price }}</td>
                    <td><a href="{% url 'cart:cart_remove' product.id%}">Remove</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
{#        <a href="{% url "main:get" %}" class="button light">Continue shopping</a>#}
        <a href="#" class="button">Checkout</a>
    </p>
{% endblock %}


