{% extends 'main/base.html' %}
{% load specifications %}
{% block content %}

<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.category_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
  </ol>
</nav>
    <div class="row">

    <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>

        <div class="col-md-8">
        <h3>{{ product.title }}</h3>
            <p>Цена: {{ product.price }} руб.</p>
            <p>Описание: {{ product.description }}</p>
            <hr>
{#            <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>#}
            <a href=""><button class="btn btn-danger">Добавить в корзину</button></a>
<p class="price">${{ product.price }}</p>
<form action="{% url 'cart:cart_add' slug=product.slug product_id=product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
{#    <button type="submit" value="Add to cart"></button>#}
     <a href="" TYPE="submit"><button class="btn btn-danger">Добавить в корзину</button></a>
</form>

    </div>
     <p class="mt-4">Характеристики: </p>

        {{ product|product_specifications }}

{#        {% if product.category.slug == 'ipads' %}#}
{#            {% include 'main/ipad_specification.html' %}#}
{#        {% elif product.category.slug == 'iphones' %}#}
{#            {% include 'main/iphone_specification.html' %}#}
{#        {% endif %}#}
    </div>

{% endblock content %}