{% extends 'main/base.html' %}
{% block row %}
{% endblock %}
{% block content %}

    <center><h3 class="mt-3 mb-3">Заказы пользователя: {{ request.user.username }}</h3></center>
    {% if not orders.count %}

        <div class="col-md-12">
        <h3>У вас еще нет ни одного заказа <a href="{% url 'main:base' %}">Купить</a> </h3>
        </div>
        {% else %}
        <div class="col-md-12">
        <table class="table" id="profile-table">
            <thead id="profile-thead">
                <th id="profile-th" scope="col">№</th>
{#                <th scope="col">Статус</th>#}
                <th id="profile-th" scope="col">სულ</th>
                <th id="profile-th" scope="col">პროდუქტი</th>
                <th id="profile-th" scope="col">პარამეტრები</th>
            </thead>

            <tbody id="profile-tbody">
                {% for order in orders %}

                    <tr id="profile-tr">
                        <th id="profile-th" scope="row">ID: {{ order.id }}</th>
{#                        <td>{{ order.get_status_display }}</td>#}
                        <td id="profile-td"><span class="profile-mobile-table">სულ: </span>{{ order.get_total_cost }}</td>
                        <td id="profile-td">
                            <ul>
                            {% for order_product in order.get_all_product_title %}
                            <li>{{ order_product }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    <td id="profile-td">
                        <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal-{{ order.id }}"> Дополнительно</button>

                        <!-- Modal -->
                            <div class="modal fade" id="exampleModal-{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Детализация заказа</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <h4 class="text-center">შეკვეთა - {{ order.id }}</h4>
                                      <table class="table" id="profile-table">
{#                                          <thead id="profile-thead" style="display: block">#}
{#                                          <tr id="profile-tr">#}
{#                                          <th id="profile-th" scope="col">Название</th>#}
{#                                          <th id="profile-th" scope="col">Изображение</th>#}
{#                                          <th id="profile-th" scope="col">Цена</th>#}
{#                                          <th id="profile-th" scope="col">Кол-во</th>#}
{#                                          <th id="profile-th" scope="col">Общая цена</th>#}
{#                                          </tr>#}
{#                                          </thead>#}

                                          <tbody id="profile-tbody">

                                          {% for item in order.items.all %}

                                              <tr id="profile-tr">
{#                                              {% if item in order.get_all_product_title %}#}
                                              <th id="profile-th" scope="row">{{ item.product }}</th>
                                              <td id="profile-td" class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
                                              <td id="profile-td"><span class="profile-mobile-table">ფასი: </span>{{ item.price }}</td>
                                              <td id="profile-td"><span class="profile-mobile-table">რაოდენობა: </span>{{ item.quantity }}</td>
                                              <td id="profile-td"><strong><span class="profile-mobile-table">სულ: </span>{% widthratio item.price 1 item.quantity %},00 </strong></td>
                                              <td id="profile-td"><strong>{{ item.discount }}  </strong></td>
{#                                              {% endif %}#}
                                              </tr>
                                              {% endfor %}
                                          </tbody>
 <td id="profile-td"><span>Оსაერთო თანხა: </span> {{ order.get_total_cost }}</td>
                                      </table>
                                    <hr>
                                    <h4 class="text-center">Дополнительная информация</h4>
                                  <p>სახელი: <strong>{{ order.first_name }}</strong></p>
                                  <p>გვარი: <strong>{{ order.last_name }}</strong></p>
                                  <p>Email: <strong>{{ order.email }}</strong></p>
                                  <p>მისამართი: <strong>{{ order.address }}</strong></p>
                                  <p>შეკვეთის თარიღი: <strong>{{ order.created }}</strong></p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">დახურვა</button>
{#                                    <button type="button" class="btn btn-primary">Save changes</button>#}
                                  </div>
                                </div>
                              </div>
                            </div>

                    </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        </div>

    {% endif %}
{% endblock content %}